
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}b

/* Expandable Box CSS */
 
.hidden-section-container {
  background-color:#000000(187, 187, 187, 0.93);
  box-shadow:0 0 0 rgba(0,0,0,0.2);
}
 
.sh-section-btn {
  font-size:13px;
  color:#ff9497;
  text-shadow:1px 1px 0px rgba(0,0,0,0.2);
  padding:0px 10px;
  cursor:pointer;
}
 
.h-section-cont {
 padding:5px 5px;
font-size:13px;
 background-color:#000000 opacity: 0:00;
 display:none;
}
