<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<center><img src="https://user-images.githubusercontent.com/51217449/58700698-26e78500-83e4-11e9-88fd-5a6bec5cf03a.png" alt="logo"></center>
			<br>
			<center><nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://minh-d-huynh.github.io/about">About</a></li>
				<li><a href="https://minh-d-huynh.github.io/meetings">Meetings</a></li>
	        		<li><a href="https://minh-d-huynh.github.io/calendar">Calendar</a></li>
	        		<li><a href="https://minh-d-huynh.github.io/contact">Contact Us</a></li>
	    		</ul>
			</nav></center>
			<br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><center><img src="https://user-images.githubusercontent.com/51217449/58777233-b70a1200-8610-11e9-91b5-fe97855af23e.png" alt="logo2"></center></li>
				</ul>
			</footer>
		</body>
	</html>
